<li id="<%=comment.id%>">
    <p>
        <% if(locals.user && locals.user.id==comment.user.id){%>
                <a href="/comment/destroy/<%=comment.id %>" class="delete-comments">X</a>
                <%}%>
    <%= comment.content %>
    <br>
    <small>
    <%=comment.user.name %>    
    </small>
    </p>
    </li>