<header>
    Coideal

    <ul>
        <% if(locals.user){%>
            <li>
                <a href="/user/sign_out">SignOut</a>
            </li>
            <li><a href="/user/profile"><%=user.name%></a></li>
         

    <%    } else {%>
        <li>
            <a href="/user/sign_in">SignIN</a>
        </li>
        <li>
            <a href="/user/sign_up">SignUp</a>
        </li>
   <% } %>
    </ul>
</header>