<link rel="stylesheet" href="\css\home.css">
       
        <h1>
                Home/controller<%=title%>
        </h1>
       
<section id="feed-post">
        <h4>Posts</h4>
        <form action"" id="new-post-form"method="Post">
<textarea name="content" cols="30" row="10" ></textarea>
<input type="submit" value="Post">

</textarea>
        </form>

</section>